body {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
.logotip {
  font-family: 'Rock Salt', cursive;
}
.logotip img {
  height: 30px;
}
.logotip h1 {
  display: inline-block;
}
.text-blanc {
  color: white;
}
.text-taronja {
  color: #FE5722;
}
.boto-quadrat {
  border: solid #cccccc 1px;
  background-color: white;
}
#header {
  position: relative;
  /*a {
        display: inline-block;
        height: @header;
        padding-right: 10px;
        padding-left: 10px;
    }*/
}
#header > .container {
  height: 70px;
}
#header .links > a,
#header .icones > a,
#header .links .btn-group > a,
#header .icones .btn-group > a {
  display: inline-block;
  height: 70px;
  padding-right: 10px;
  padding-left: 10px;
}
#header .links > a:focus,
#header .icones > a:focus,
#header .links .btn-group > a:focus,
#header .icones .btn-group > a:focus,
#header .links > a:hover,
#header .icones > a:hover,
#header .links .btn-group > a:hover,
#header .icones .btn-group > a:hover {
  color: inherit;
  text-decoration: none;
}
#header .links > a:focus:after,
#header .icones > a:focus:after,
#header .links .btn-group > a:focus:after,
#header .icones .btn-group > a:focus:after,
#header .links > a:hover:after,
#header .icones > a:hover:after,
#header .links .btn-group > a:hover:after,
#header .icones .btn-group > a:hover:after {
  content: '';
  position: absolute;
  left: 10%;
  bottom: 4px;
  height: 3px;
  width: 80%;
  background-color: #FE5722;
}
#header .btn-group.open .dropdown-toggle {
  box-shadow: none;
}
#header .container {
  position: relative;
}
#header .logotip,
#header .links,
#header .icones {
  line-height: 70px;
}
#header .logotip {
  float: left;
}
#header .logotip h1 {
  font-size: 1.5em;
}
#header .icones {
  position: absolute;
  top: 0;
  right: 0;
}
#header a {
  position: relative;
}
#header .actiu:after {
  content: '';
  position: absolute;
  left: 10%;
  bottom: 4px;
  height: 3px;
  width: 80%;
  background-color: #FE5722;
}
#header .boto-header {
  float: right;
  background-color: transparent;
  background-image: none;
  margin-bottom: 8px;
  margin-top: 11px;
  padding: 9px 10px;
  position: relative;
  font-size: 1.5em;
  border-width: 0;
  line-height: 30px;
  color: #FE5722;
}
#header .boto-header.collapsed {
  color: inherit;
}
#header #megamenu {
  position: absolute;
  top: 70px;
  left: 20%;
  width: 60%;
  border: 1px solid #cccccc;
  border-top: solid 3px #FE5722;
  background-color: white;
  z-index: 10;
}
#header .megamenu {
  padding: 10px;
}
#header .megamenu a {
  display: block;
  margin-bottom: 10px;
}
#header .megamenu a:hover {
  color: #FE5722;
  padding-left: 10px;
}
#header .megamenu h2 {
  font-size: 1.5em;
  font-weight: bolder;
}
#header .megamenu .imatge-megamenu div {
  display: inline-block;
  position: relative;
}
#header .megamenu .imatge-megamenu div div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(254, 87, 34, 0.6);
  padding: 10px 20px 10px 20px;
  font-size: 1.2em;
}
#header .megamenu .imatge-megamenu div div p {
  color: white;
  font-weight: bold;
  margin-bottom: 0;
}
#header .megamenu .imatge-megamenu div div p + p {
  text-align: right;
}
#header .megamenu .imatge-megamenu div img {
  margin-top: 25px;
  max-height: 200px;
}
#header #carrito {
  position: absolute;
  top: 70px;
  right: 0;
  border: 1px solid #cccccc;
  border-top: solid 3px #FE5722;
  background-color: white;
  z-index: 10;
  width: 200px;
}
#header #carrito .item-carrito {
  overflow: auto;
  height: 85px;
  margin-top: 7px;
}
#header #carrito .item-carrito .imatge-carrito {
  float: left;
  width: 25%;
  padding-top: 13px;
}
#header #carrito .item-carrito .imatge-carrito img {
  display: block;
  max-width: 90%;
  border: 1px solid #F1F1F1;
  margin: 0 auto;
}
#header #carrito .item-carrito .nom-carrito {
  float: left;
  width: 55%;
}
#header #carrito .item-carrito .nom-carrito h4 {
  font-size: 1em;
  font-weight: bold;
}
#header #carrito .item-carrito .nom-carrito p {
  font-size: 0.9em;
}
#header #carrito .item-carrito .boto-carrito {
  float: left;
  width: 20%;
  padding-top: 26px;
  text-align: center;
}
#header #carrito .item-carrito .boto-carrito button {
  border-radius: 0;
  width: 25px;
  height: 25px;
  padding: 0;
  line-height: 25px;
}
#header #carrito hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
#header #carrito .preu-carrito {
  padding: 10px;
}
#header #carrito .preu-carrito button {
  border-radius: 10px;
  font-weight: bold;
  font-size: 0.9em;
  padding-left: 15px;
  padding-right: 15px;
}
#header #carrito .preu-carrito div {
  position: relative;
}
#header #carrito .preu-carrito div p {
  font-size: 0.9em;
}
#header #carrito .preu-carrito div p + p {
  position: absolute;
  top: 0;
  right: 0;
}
.btn:hover {
  color: inherit;
}
.abansFooter {
  margin-top: 50px;
  margin-bottom: 50px;
  border: solid #CCCCCC 2px;
  text-align: center;
}
.abansFooter i {
  color: #FE5722;
  font-size: 2em;
}
.abansFooter .row {
  margin-top: 10px;
}
.abansFooter .row > div h3 {
  margin-top: 5px;
}
.boto-quadrat {
  border: solid #cccccc 1px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}
.boto-taronja {
  background-color: #FE5722;
  color: white;
  border: 1px solid #FE5722;
}
.boto-taronja:hover {
  color: white;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
.boto-blanc {
  background-color: white;
  border: 1px solid black;
}
.col-item {
  position: relative;
}
.col-item .photo {
  position: relative;
  border: 1px solid #cccccc;
}
.col-item .preu {
  position: absolute;
  top: 10px;
  left: 10px;
  vertical-align: middle;
  font-size: 1.2em;
  font-weight: bolder;
}
.col-item .preu .dolar {
  position: relative;
  top: -3px;
  font-size: 0.7em;
}
.col-item .preu strike {
  font-size: 0.8em;
  font-weight: normal;
}
.col-item .hover-item {
  position: absolute;
  right: 0;
  height: 50px;
  line-height: 50px;
  width: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  color: white;
}
.col-item .hover-item a i {
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}
.col-item .hover-item a:hover {
  color: #FE5722;
}
.col-item .hover-item a:nth-child(2):hover .hover-carrito {
  display: block;
}
.col-item .hover-item a .hover-carrito {
  font-family: 'Open Sans', sans-serif;
  color: white;
  position: absolute;
  top: calc(100% - 1px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100px;
  background-color: #FE5722;
  display: none;
  text-align: center;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
}
.col-item .hover-item a .hover-carrito .arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #FE5722;
  position: absolute;
  top: -5px;
  left: calc(50% - 5px);
}
.col-item:hover .hover-item {
  display: block;
}
.col-item:hover .photo {
  -webkit-box-shadow: 0px 6px 25px -1px #737373;
  -moz-box-shadow: 0px 6px 25px -1px #737373;
  box-shadow: 0px 6px 25px -1px #737373;
}
.col-item .peu-slider {
  padding-top: 10px;
  text-align: center;
}
.col-item .peu-slider .estrelles {
  text-align: center;
  display: inline-block;
  color: #FE5722;
}
.estrella-gris {
  color: #a5a5a5;
}
.centrar-petit {
  text-align: center;
}
.formulari-transparent {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}
.formulari-transparent::-webkit-input-placeholder {
  color: #F1F1F1;
}
.formulari-transparent:-moz-placeholder {
  /* Firefox 18- */
  color: #F1F1F1;
}
.formulari-transparent::-moz-placeholder {
  /* Firefox 19+ */
  color: #F1F1F1;
}
.formulari-transparent:-ms-input-placeholder {
  color: #F1F1F1;
}
#fons-titol {
  height: 300px;
  width: 100%;
  background: url(imatges/fons-botiga.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 40px;
}
#fons-titol h2 {
  font-weight: bold;
}
#fons-titol a {
  color: #FE5722;
}
footer {
  background-color: #F5F5F5;
  padding-top: 30px;
}
footer .itemFooter button {
  float: left;
  margin-right: 10px;
}
footer .social {
  text-align: center;
}
footer .social .fa-twitter {
  color: #65b2ff;
}
footer .social i {
  margin-top: 10px;
  display: block;
}
footer h3 {
  margin-top: 5px;
}
#finalDeTot {
  padding-top: 10px;
  margin-top: 30px;
  background-color: #FE5722;
  color: white;
}
#finalDeTot img {
  height: 20px;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .centrar-petit {
    text-align: left;
  }
  footer .social {
    text-align: left;
    margin-top: -30px;
  }
  footer .social i {
    display: inline-block;
    margin-right: 10px;
  }
}
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*# sourceMappingURL=comu.css.map */