@taronja: #FE5722;
@gris: #F1F1F1;
@gris-marge: #cccccc;
body {
    font-family: 'Open Sans', sans-serif;
}

.logotip {
    font-family: 'Rock Salt', cursive;
}

.text-blanc {
    color: white;
}

.boto-quadrat {
    border: solid @gris-marge 1px;
    background-color: white;
}


.titol {
    .linia-curta {
        display: inline-block;
        height: 1px;
        width: 10px;
        border-top: dashed 2px black;
    }
    .linia-llarga {
        display: inline-block;
        height: 1px;
        width: 100px;
        border-top: solid 2px @taronja;
    }
    h2 {
        margin-bottom: 0;
    }
    p {
        margin-top: 10px;
    }
}

.abansFooter {
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid #CCCCCC 2px;
    text-align: center;
    i {
        color: @taronja;
        font-size: 2em;
    }
    .row {
        margin-top: 10px;
        > div {
            h3 {
                margin-top: 5px;
            }
        }
    }
}

.boto-quadrat {
    border: solid @gris-marge 1px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.boto-taronja {
    background-color: @taronja;
    color: white;
    border: 1px solid @taronja;
}

.boto-blanc {
    background-color: white;
    border: 1px solid black;
}


//*********************

.boto-slider {
    padding: 5px;
    color: black;
    text-decoration: none !important;
    margin-bottom: 10px;
    
    + a {
        color: @taronja;
    }
    
}

.col-item {
    position: relative;
    
    .photo {
        position: relative;
    }
    
    .preu {
        position: absolute;
        top: 10px;
        left: 10px;
        vertical-align: middle;
        font-size: 1.2em;
        font-weight: bolder;
        .dolar {
            position: relative;
            top: -3px;
            font-size: 0.7em;
        }
        strike {
            font-size: 0.8em;
            font-weight: normal;
        }
    }
    .hover-item {
        position: absolute;
        right: 0;
        height: 50px;
        line-height: 50px;
        width: 100%;
        display: none;
        background-color: rgba(0, 0, 0, 0.6);
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        color: white;
        i {
            padding-left: 5px;
            padding-right: 5px;
            position: relative;
            //font-size: 1.5em;
            
            &:nth-child(2):hover {
                color: @taronja;
                .hover-carrito {
                    display: block;
                }
            }
            .hover-carrito {
                font-family: 'Open Sans', sans-serif;
                color: white;
                position: absolute;
                top: ~"calc(100% + 7px)";
                left: 50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                
                //font-size: 1em;
                width: 100px;
                background-color: @taronja;
                display: none;
                text-align: center;
                border-radius: 5px;
                
                height: 30px;
                line-height: 30px;
                
                .arrow-up {
                    width: 0; 
                    height: 0; 
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    
                    border-bottom: 5px solid @taronja;
                    position: absolute;
                    top: -5px;
                    left: ~"calc(50% - 5px)";
                }
            }
        }
    }
    
    &:hover {
        .hover-item {
            display: block;
        }
        
        .photo {
            -webkit-box-shadow: 0px 6px 25px -1px rgba(115,115,115,1);
            -moz-box-shadow: 0px 6px 25px -1px rgba(115,115,115,1);
            box-shadow: 0px 6px 25px -1px rgba(115,115,115,1);
        }
    }
    
    .peu-slider {
        padding-top: 10px;
        text-align: center;
        .estrelles {
            text-align: center;
            display: inline-block;
            color: @taronja;
        }
    }
    
}

.estrella-gris {
    color: #a5a5a5;
}

.carousel-mobil {
    text-align: center;
    .col-item {
        display: inline-block;
    }
}



//**********************

.carrousel-petit {
    background-color: @gris;
    position: relative;
    
    .carousel-indicators {
        li {
            border-color: black;
        }
        .active {
            background-color: @taronja;
            border-color: @taronja;
        }
    }
    
    .item {
        margin: 90px 0 90px 0;
    }
    h2 {
        color: @taronja;
        font-weight: 900;
        font-size: 2em;
    }
    
    
    .text-carousel {
        position: relative;
        float: left;
        width: 80%;
        z-index: 999;
    }
    
    .imatge-carousel {
        position: absolute;
        right: 0;
        top: 0;
        width: 42%;
        text-align: center;
        height: 200px;
        img {
            position: relative;
            display: inline-block;
            max-height: 200px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            top: 50%;
        }
    }
    
    .boto-carousel {
        position: absolute;
        right: 0;
        top: 200px;
        text-align: center;
        width: 42%;
        button {
            margin-top: -10px;
        }
        
    }
}

.centrar-petit {
    text-align: center;
}



.formulari-transparent {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    &::-webkit-input-placeholder {
        color: @gris;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: @gris;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: @gris;
    }
    &:-ms-input-placeholder {
        color: @gris;
    }
}

.arrivals {
    margin-bottom: 30px;
    .standard {
        height: 405px;
        border: 2px solid @gris-marge;
        position: relative;
        > div {
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        .estrelles {
            color: @taronja;
        }
        p:nth-child(2) {
            font-weight: bold;
        }
    }
    .standard-taronja {
        background-color: @taronja;
        color: white;
        .estrelles {
            color: white;
        }
        border-color: @taronja;
    }
}


.blog {
    margin-bottom: 30px;
}

.comentari {
    position: relative;
    background-color: @gris;
    padding: 20px;
    max-width: 350px;
    margin: 0 auto;
    .imatge {
        img {
            display: inline-block;
        }
    }
    i:nth-child(2) {
        margin-left: 15px;
    }
    .more {
        position: absolute;
        right: 0;
        bottom: 0;
        margin-right: 20px;
    }
    
    &:hover {
        -webkit-box-shadow: 0px 6px 25px -1px rgba(115,115,115,1);
        -moz-box-shadow: 0px 6px 25px -1px rgba(115,115,115,1);
        box-shadow: 0px 6px 25px -1px rgba(115,115,115,1);
        
        i {
            color: @taronja;
        }
        
        .more {
            color: @taronja;
        }
    }
}



//Footer -----------------
footer {
    background-color: #F5F5F5;
    .itemFooter {
        button {
            float: left;
            margin-right: 10px;
        }
    }
    .social {
        text-align: center;
        .fa-twitter {
            color: #65b2ff;
        }
        i {
            margin-top: 10px;
            display: block;
        }
    }
}

#finalDeTot {
    background-color: @taronja;
    color: white;
}


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .centrar-petit {
        text-align: left;
    }
    footer {
        .social {
            text-align: left;
            i {
                display: inline-block;
                margin-right: 10px;
            }
        }
    }
    .carrousel-petit {
        .text-carousel {
            width: 65%;
        }
        
        .imatge-carousel {
            width: 35%;
        }
        
        .boto-carousel {
            float: left;
            clear: left;
            position: relative;
            top: 0;
            width: auto;
            button {
                margin-top: 0;
            }
        }
        
        h2 {
            font-size: 2.5em;
        }
    }
    
    
    .comentari {
        max-width: none;
    }
    
    .arrivals {
        .standard {
            height: 258px;
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .arrivals {
        .standard {
            height: 343px;
        }
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .arrivals {
        .standard {
            height: 405px;
        }
    }
}

