@taronja: #FE5722;
@gris: #F1F1F1;
@gris-marge: #cccccc;
@marge: 40px;



#primerCarousel {
    .caption {
        position: absolute;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: right;

        color: white;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);

        h2 {
            font-size: 3em;
            font-weight: bolder;
        }

        .read-more {
            background-color: transparent;
            border-color: white;
            &:hover {

            }
        }
    }

    .item.left {
        //perque no es vegi la imatge quan canvia d'item
        .next-img {
            display: none;
        }
    }

    .left, .right {
        background-image: none;
    }

    .next-img {
        opacity: 1;
        img {
            position: relative;
            top: 50%;
            margin-top: -33px;
        }
    }

    .carousel-control {
        .fa {    
            position: relative;
            margin-right: -10px;
            top: 50%;
            font-size: 30px;
            height: 30px;
            margin-top: -10px;
            width: 30px;

        }
    }


}

.quadrats {
    margin-top: @marge;


    .hover {
        display: none;
        text-align: center;
    }
    .primer, .segon, .tercer, .quart {
        position: relative;
    }

    .evitar-calc, .quart {
        background-color: @gris;
    }

    .primer, .segon {
        &:hover .hover {
            display: block;
        }
    }

    .primer {
        margin-bottom: 10px;
        img {
            min-height: 100%;
        }
        .hover {
            position: absolute;
            width: 100%;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            color: white;
            background-color: rgba(254,87,34,0.6);
            h2 {
                margin: 10px;
            }
        }
    }

    .segon {
        padding-right: 5px;
        margin-bottom: 10px;
        .hover {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            top: 0;
            left: 0;
            h2 {
                position: relative;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                color: white;
                margin: 10px;
            }
        }
    }

    .tercer {
        padding-left: 5px;
        .new {
            position: absolute;
            top: 0;
            left: 10px;
            width: 70px;
            color: white;
            background-color: @taronja;
            text-align: center;
            h2 {
                margin: 5px;
                font-size: 1.4em;
            }

            .triangle-esquerra, .triangle-dreta {
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
            }

            .triangle-esquerra {
                top: 100%;
                left: 0;
                border-width: 20px 35px 0 0;
                border-color: @taronja transparent transparent transparent;

            }

            .triangle-dreta {
                top: 100%;
                right: 0;
                border-width: 0 35px 20px 0;
                border-color: transparent @taronja transparent transparent;

            }
        }
    }



    .segon , .tercer {
        position: relative;
        float: left;
        width: 50%;

        .evitar-calc {
            height: 480px;
            position: relative;
            padding: 10px;
            overflow: auto;
        }

        img {
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);

        }

    }



    .quart {
        overflow: auto;
        img {
            float: right;
        }

        .women {
            position: absolute;
            width: 40%;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 20px;

            p {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            h2 {
                font-size: 1.7em;
                font-weight: bold;
            }
        }
    }



}

.fletxa {
    overflow: auto;
}

.titol {
    .linia-curta {
        display: inline-block;
        height: 1px;
        width: 10px;
        border-top: dashed 2px black;
    }
    .linia-llarga {
        display: inline-block;
        height: 1px;
        width: 100px;
        border-top: solid 2px @taronja;
    }
    h2 {
        margin-bottom: 0;
    }
    p {
        margin-top: 10px;
    }
}





//*********************

.boto-slider {
    padding: 5px;
    color: black;
    text-decoration: none !important;
    margin-bottom: 10px;

    + a {
        color: @taronja;
    }

}


.carousel-mobil {
    text-align: center;
    .col-item {
        display: inline-block;
    }
}



//**********************

.carrousel-petit {
    background-color: @gris;
    position: relative;

    .carousel-indicators {
        li {
            border-color: black;
        }
        .active {
            background-color: @taronja;
            border-color: @taronja;
        }
    }

    .item {
        margin: 90px 0 90px 0;
    }
    h2 {
        color: @taronja;
        font-weight: 900;
        font-size: 2em;
    }


    .text-carousel {
        position: relative;
        float: left;
        width: 70%;
        z-index: 999;
        font-size: 0.9em;
    }

    .imatge-carousel {
        position: absolute;
        right: 0;
        top: 0;
        width: 42%;
        text-align: center;
        height: 200px;
        img {
            position: relative;
            display: inline-block;
            max-height: 200px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            top: 50%;
        }
    }

    .boto-carousel {
        position: absolute;
        right: 0;
        top: 200px;
        text-align: center;
        width: 42%;
        button {
            margin-top: -10px;
            //margin-top: 20px;
        }

    }
}



.arrivals {
    margin-bottom: 30px;
    .standard {
        height: 405px;
        border: 2px solid @gris-marge;
        position: relative;
        > div {
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        .estrelles {
            color: @taronja;
        }
        p:nth-child(2) {
            font-weight: bold;
        }
    }
    .standard-taronja {
        background-color: @taronja;
        color: white;
        .estrelles {
            color: white;
        }
        border-color: @taronja;
    }
    
    .photo {
        border-width: 0;
    }
}


.ceo {

    .container {
        position: relative;
        height: 200px;
        margin-top: 50px;
        color: white;
        margin-bottom: 20px;

        /*.container {
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }*/
    }

    .centrar {
        text-align: center;
    }

    .persona {

        overflow: auto;
        display: inline-block;

        foto, nom-persona {
            display: inline-block;
        }

        .foto {
            float: left;
            overflow: auto;
        }

        .nom-persona {
            float: left;
        }

        img {
            height: 70px;
            margin-right: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
        }

        h3 {
            margin-top: 0px;
            font-weight: bold;
            font-size: 1.1em;
        }





    }

    .right {
        color: @taronja;
    }
    
    li.active {
        border-color: @taronja;
        background-color: @taronja;
    }
}


.blog {
    margin-bottom: 30px;
}

.comentari {
    position: relative;
    background-color: @gris;
    padding: 20px;
    max-width: 350px;
    margin: 0 auto;
    .imatge {
        img {
            display: inline-block;
        }
    }

    a {
        margin-left: 20px;
        &:hover {
            color: @taronja;
        }
    }

    i:nth-child(2) {
        margin-left: 15px;
    }
    .more {
        position: absolute;
        right: 0;
        bottom: 10px;
        margin-right: 20px;
    }

    &:hover {
        -webkit-box-shadow: 0px 6px 25px -1px rgba(115,115,115,1);
        -moz-box-shadow: 0px 6px 25px -1px rgba(115,115,115,1);
        box-shadow: 0px 6px 25px -1px rgba(115,115,115,1);

        /*i {
            color: @taronja;
        }
        
        .more {
            color: @taronja;
        }*/
    }

    

    
}




/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {



    .carrousel-petit {
        .text-carousel {
            width: 65%;
        }

        .imatge-carousel {
            width: 35%;
        }

        .boto-carousel {
            float: left;
            clear: left;
            position: relative;
            top: 0;
            width: auto;
            button {
                margin-top: 0;
            }
        }

        h2 {
            font-size: 2.5em;
        }
    }


    .comentari {
        max-width: none;
    }

    .arrivals {
        .standard {
            height: 258px;
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .arrivals {
        .standard {
            height: 343px;
        }
    }

    .quadrats {
        .primer, .evitar-calc {
            height: 265px !important;
        }
        .col-md-8 {
            padding: 0;
        }
    }

    .ceo {
        .centrar {
            text-align: left;
        }

    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .arrivals {
        .standard {
            height: 405px;
        }
    }
}

@media (max-width: 1500px) {
    #primerCarousel {
        .row {
            padding-right: 15%;
        }
    }
}
