#primerCarousel .caption {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: right;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
#primerCarousel .caption h2 {
  font-size: 3em;
  font-weight: bolder;
}
#primerCarousel .caption .read-more {
  background-color: transparent;
  border-color: white;
}
#primerCarousel .item.left .next-img {
  display: none;
}
#primerCarousel .left,
#primerCarousel .right {
  background-image: none;
}
#primerCarousel .next-img {
  opacity: 1;
}
#primerCarousel .next-img img {
  position: relative;
  top: 50%;
  margin-top: -33px;
}
#primerCarousel .carousel-control .fa {
  position: relative;
  margin-right: -10px;
  top: 50%;
  font-size: 30px;
  height: 30px;
  margin-top: -10px;
  width: 30px;
}
.quadrats {
  margin-top: 40px;
}
.quadrats .hover {
  display: none;
  text-align: center;
}
.quadrats .primer,
.quadrats .segon,
.quadrats .tercer,
.quadrats .quart {
  position: relative;
}
.quadrats .segon,
.quadrats .tercer,
.quadrats .quart {
  background-color: #F1F1F1;
}
.quadrats .primer:hover .hover,
.quadrats .segon:hover .hover {
  display: block;
}
.quadrats .primer {
  margin-bottom: 10px;
}
.quadrats .primer img {
  min-height: 100%;
}
.quadrats .primer .hover {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
  background-color: rgba(254, 87, 34, 0.6);
}
.quadrats .primer .hover h2 {
  margin: 10px;
}
.quadrats .segon {
  margin-right: 10px;
  margin-bottom: 10px;
}
.quadrats .segon .hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}
.quadrats .segon .hover h2 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
  margin: 10px;
}
.quadrats .tercer .new {
  position: absolute;
  top: 0;
  left: 10px;
  width: 70px;
  color: white;
  background-color: #FE5722;
  text-align: center;
}
.quadrats .tercer .new h2 {
  margin: 5px;
  font-size: 1.4em;
}
.quadrats .tercer .new .triangle-esquerra,
.quadrats .tercer .new .triangle-dreta {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}
.quadrats .tercer .new .triangle-esquerra {
  top: 100%;
  left: 0;
  border-width: 20px 35px 0 0;
  border-color: #FE5722 transparent transparent transparent;
}
.quadrats .tercer .new .triangle-dreta {
  top: 100%;
  right: 0;
  border-width: 0 35px 20px 0;
  border-color: transparent #FE5722 transparent transparent;
}
.quadrats .segon,
.quadrats .tercer {
  position: relative;
  float: left;
  width: calc(50% - 5px);
  padding: 10px;
  height: 500px;
}
.quadrats .segon img,
.quadrats .tercer img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.quadrats .quart {
  overflow: auto;
}
.quadrats .quart img {
  float: right;
}
.quadrats .quart .women {
  position: absolute;
  width: 40%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 20px;
}
.quadrats .quart .women p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.quadrats .quart .women h2 {
  font-size: 1.7em;
  font-weight: bold;
}
.titol .linia-curta {
  display: inline-block;
  height: 1px;
  width: 10px;
  border-top: dashed 2px black;
}
.titol .linia-llarga {
  display: inline-block;
  height: 1px;
  width: 100px;
  border-top: solid 2px #FE5722;
}
.titol h2 {
  margin-bottom: 0;
}
.titol p {
  margin-top: 10px;
}
.boto-slider {
  padding: 5px;
  color: black;
  text-decoration: none !important;
  margin-bottom: 10px;
}
.boto-slider + a {
  color: #FE5722;
}
.carousel-mobil {
  text-align: center;
}
.carousel-mobil .col-item {
  display: inline-block;
}
.carrousel-petit {
  background-color: #F1F1F1;
  position: relative;
}
.carrousel-petit .carousel-indicators li {
  border-color: black;
}
.carrousel-petit .carousel-indicators .active {
  background-color: #FE5722;
  border-color: #FE5722;
}
.carrousel-petit .item {
  margin: 90px 0 90px 0;
}
.carrousel-petit h2 {
  color: #FE5722;
  font-weight: 900;
  font-size: 2em;
}
.carrousel-petit .text-carousel {
  position: relative;
  float: left;
  width: 80%;
  z-index: 999;
}
.carrousel-petit .imatge-carousel {
  position: absolute;
  right: 0;
  top: 0;
  width: 42%;
  text-align: center;
  height: 200px;
}
.carrousel-petit .imatge-carousel img {
  position: relative;
  display: inline-block;
  max-height: 200px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
}
.carrousel-petit .boto-carousel {
  position: absolute;
  right: 0;
  top: 200px;
  text-align: center;
  width: 42%;
}
.carrousel-petit .boto-carousel button {
  margin-top: -10px;
}
.arrivals {
  margin-bottom: 30px;
}
.arrivals .standard {
  height: 405px;
  border: 2px solid #cccccc;
  position: relative;
}
.arrivals .standard > div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.arrivals .standard .estrelles {
  color: #FE5722;
}
.arrivals .standard p:nth-child(2) {
  font-weight: bold;
}
.arrivals .standard-taronja {
  background-color: #FE5722;
  color: white;
  border-color: #FE5722;
}
.arrivals .standard-taronja .estrelles {
  color: white;
}
.blog {
  margin-bottom: 30px;
}
.comentari {
  position: relative;
  background-color: #F1F1F1;
  padding: 20px;
  max-width: 350px;
  margin: 0 auto;
}
.comentari .imatge img {
  display: inline-block;
}
.comentari i:nth-child(2) {
  margin-left: 15px;
}
.comentari .more {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 20px;
}
.comentari:hover {
  -webkit-box-shadow: 0px 6px 25px -1px #737373;
  -moz-box-shadow: 0px 6px 25px -1px #737373;
  box-shadow: 0px 6px 25px -1px #737373;
}
.comentari:hover i {
  color: #FE5722;
}
.comentari:hover .more {
  color: #FE5722;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .carrousel-petit .text-carousel {
    width: 65%;
  }
  .carrousel-petit .imatge-carousel {
    width: 35%;
  }
  .carrousel-petit .boto-carousel {
    float: left;
    clear: left;
    position: relative;
    top: 0;
    width: auto;
  }
  .carrousel-petit .boto-carousel button {
    margin-top: 0;
  }
  .carrousel-petit h2 {
    font-size: 2.5em;
  }
  .comentari {
    max-width: none;
  }
  .arrivals .standard {
    height: 258px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .arrivals .standard {
    height: 343px;
  }
  .quadrats .primer,
  .quadrats .segon,
  .quadrats .tercer {
    height: 265px;
  }
  .quadrats .col-md-8 {
    padding: 0;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .arrivals .standard {
    height: 405px;
  }
}
@media (max-width: 1500px) {
  #primerCarousel .row {
    padding-right: 15%;
  }
}
/*# sourceMappingURL=estil.css.map */