@taronja: #FE5722;
@gris: #F1F1F1;
@gris-marge: #cccccc;
.boto-slider {
    padding: 5px;
    color: black;
    text-decoration: none !important;
    margin-bottom: 10px;
    
    + a {
        color: @taronja;
    }
    
}

.col-item {
    position: relative;
    
    .photo {
        position: relative;
    }
    
    .preu {
        position: absolute;
        top: 10px;
        left: 10px;
        vertical-align: middle;
        font-size: 1.2em;
        font-weight: bolder;
        .dolar {
            position: relative;
            top: -3px;
            font-size: 0.7em;
        }
        strike {
            font-size: 0.8em;
            font-weight: normal;
        }
    }
    .hover-item {
        position: absolute;
        right: 0;
        height: 50px;
        line-height: 50px;
        width: 100%;
        display: none;
        background-color: rgba(0, 0, 0, 0.6);
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        color: white;
        i {
            padding-left: 5px;
            padding-right: 5px;
            position: relative;
            //font-size: 1.5em;
            
            &:nth-child(2):hover {
                color: @taronja;
                .hover-carrito {
                    display: block;
                }
            }
            .hover-carrito {
                color: white;
                position: absolute;
                top: ~"calc(100% + 7px)";
                left: 50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                
                //font-size: 1em;
                width: 100px;
                background-color: @taronja;
                display: none;
                text-align: center;
                border-radius: 5px;
                
                height: 30px;
                line-height: 30px;
                
                .arrow-up {
                    width: 0; 
                    height: 0; 
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;

                    border-bottom: 5px solid @taronja;
                    position: absolute;
                    top: -5px;
                    left: ~"calc(50% - 5px)";
                }
            }
        }
    }
    
    &:hover {
        .hover-item {
            display: block;
        }
        
        .photo {
            -webkit-box-shadow: 0px 6px 25px -1px rgba(115,115,115,1);
            -moz-box-shadow: 0px 6px 25px -1px rgba(115,115,115,1);
            box-shadow: 0px 6px 25px -1px rgba(115,115,115,1);
        }
    }
    
    .peu-slider {
        padding-top: 10px;
        text-align: center;
        .estrelles {
            text-align: center;
            display: inline-block;
            color: @taronja;
        }
    }
    
}

.estrella-gris {
    color: #a5a5a5;
}

.carousel-mobil {
    text-align: center;
    .col-item {
        display: inline-block;
    }
}



.boto-blanc {
    background-color: white;
    border: 1px solid black;
}

body {
    font-family: 'Open Sans', sans-serif;
}

//*********************************************

.arrivals {
    .standard {
        height: 405px;
        border: 2px solid @gris-marge;
        position: relative;
        > div {
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        .estrelles {
            color: @taronja;
        }
        p:nth-child(2) {
            font-weight: bold;
        }
    }
    .standard-taronja {
        background-color: @taronja;
        color: white;
        .estrelles {
            color: white;
        }
        border-color: @taronja;
    }
}


//*******************************

.comentari {
    position: relative;
    background-color: @gris;
    padding: 20px;
    max-width: 350px;
    margin: 0 auto;
    .imatge {
        img {
            display: inline-block;

        }
    }
    i:nth-child(2) {
        margin-left: 15px;
    }
    .more {
        position: absolute;
        right: 0;
        bottom: 0;
        margin-right: 20px;
    }
    
    &:hover {
        -webkit-box-shadow: 0px 6px 25px -1px rgba(115,115,115,1);
        -moz-box-shadow: 0px 6px 25px -1px rgba(115,115,115,1);
        box-shadow: 0px 6px 25px -1px rgba(115,115,115,1);
        
        i {
            color: @taronja;
        }
        
        .more {
            color: @taronja;
        }
    }
}





/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .arrivals {
        .standard {
            height: 258px;
        }
    }
    
    .comentari {
        max-width: none;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .arrivals {
        .standard {
            height: 343px;
        }
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .arrivals {
        .standard {
            height: 405px;
        }
    }
}











